body {
    height: 840px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    min-height: 480px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.calculator, .display-area, .key-row {
    width: 360px;
}

.display-area {
    border: 1px solid black;
    font-size: 64px;
    text-align: right;
    min-height: 80px;
    word-wrap: break-word;
}

.key-row {
    display: flex;
    height: 80px;
}

button {
    width: 90px;
    font-size: x-large;
}